.header {
  padding: 46px 0 56px;
}

.header__row {
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 31px;
  height: 29px;
  column-gap: 13px;
}
.logo {
  font-weight: 900;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #000000;
}
/* .navigation {
} */
.nav__list {
  display: flex;
  align-items: center;
  column-gap: 65px;
}
.nav__item > a {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;

  color: #000000;
}
li > .header__nav-btn {
  font-size: 24px;
  letter-spacing: -0.03em;

  color: #fefefe;
  background-color: #000000;

  border-radius: 7px;
  padding: 13px 22px 17px;
}
